*{
    box-sizing: border-box;
}
nav a{
    padding:20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
}
nav a:hover, nav a :active{
    text-decoration: underline;
}
.wrapper{
    width: 1440px;
    height: 1680px;
    margin:  auto;
    background-color: black;
}

header{
    position: fixed;
    height: 82px;
}
.container{
    display:flex;
}
.table {
    margin: 0;
    padding-bottom: 20px;
    position: absolute;
    justify-content: center;
    width: 1440px;
    display: flex;
}
nav {
    width: 1440px;
    height: 75px;
    background-color: rgb(140, 120, 120);
}
main{
    margin-top: 60px;
    width:1440px;
    text-justify: auto;
}
.osnvn_text {
    margin-left: 227px;
    margin-top: 0px;
}
.osnvn_text h3 {
    margin-top: 0px;
    padding-top: 100px;
}

h1 {
    font-size: 64px;
    color: white;
    margin-top: 10px;
}
h2 {
    color: rgb(193, 146, 132);
    font-size: 48px;
}
.nomargin {
    margin: 0;
    padding: 0;
}
.osnvn_text h3 {
    font-size: 48px;
    color: rgb(193, 146, 132);
    margin-bottom: 10px;
}
.color_side {
    height: 270px;
    background-color: rgba(140, 120, 120, 0.65);
    margin-top: 80px;
    margin-bottom: 55px;
}
.footer {
    height: 150px;
    background-color: rgba(140, 120, 120);
    font-size: 32px;
    color: white;
    text-align: center;
}
.footer p {
    margin: 0 ;
    padding: 55px 0px ;

}

.color_side p {
    font-size: 60px;
    color: white;
    text-align: center;
    width: 900px;
    margin: auto;
    padding-top: 57px;
}
body {
    margin: 0;
    background-color: black;
}
.img_f1 {
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1637778352878-f0b46d574a04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.table_html_figm th{
    color: rgb(193, 146, 132);
    font-size: 48px;
}
.table_html_figm td{
    color: white;
    padding-top: 20px;
    padding-bottom: 68px;
    
}
.table_html_figm {
    margin: 0px 172px;
    font-size: 32px;

}
.polosa1 {
    background-color: rgb(140, 120, 120);
    height: 10px;
}
.polosa2 {
    background-color: rgb(140, 120, 120);
    width: 1140px;
    height: 5px;
    margin: 20px auto;
}
.polosa3 {
    background-color: rgb(140, 120, 120);
    height: 10px;
}

.img_f2 {
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=748&q=80);
}
.img_f3 {
    padding-top: 70px;
    background-size: 170%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1489257900339-13e688fb85fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.img_f2 h2 {
    text-align: center;
    padding-top: 60px;
    margin-top: 0px;
}
.img_f2 p {
    color: rgb(193, 146, 132);
    font-size: 48px;
    margin: 0px 172px;}
.box_html {
    margin: 0px 145px;
    align-items: center;
    width: 1145px;
    padding-bottom: 50px;

}
.box_html img {
    width: 379px;
}
.box_figm {
    padding-bottom: 50px;
    margin: 0px 165px 0 145px;
    align-items: center;
    width: 1145px;
}
.box_figm img {
    width: 379px;
    margin-top: 0;
}
.img_f3 h2 {
    text-align: center;
    color: rgb(193, 146, 132);
    font-size: 48px;
}
.img_f3 img {
    width: 453px;
    margin-top: 82px;
    margin-left: 150px;
    border: 2px solid ;
    border-color: rgb(193, 146, 132);
    margin-bottom: 85px;

}
.bloks {
    display: flex;
    color: white;
}
.bloks p {
    margin: 80px 150px 80px 100px;
    font-size: 32px;
}
.contakt {
    display: flex;
    color: rgb(193, 146, 132);
    font-size: 32px;
}
.contakt p {
    margin: 100px 150px;

}




